<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VINKS</title>
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    <!-- fontawesome -->
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
 
<!-- css-stylesheet -->

<link rel="stylesheet" href="css/styles.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<!-- Bootstrap Scripts -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <img src="images/favicon.ico" >
      <a class="navbar-brand" href="#">VINKS</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav"> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          <a class="nav-link active" aria-current="page" href="#">Home</a>
          <a class="nav-link" href="#">Movies</a><a class="nav-link" href="#">Theatres</a>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa-solid fa-location-dot"></i> Diu
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/">Hyderabad</a>
              <a class="dropdown-item" href="/">Mumbai</a>
              <a class="dropdown-item" href="/">Pune</a>
            </div>
          </li>
          
        </div>
      </div>
    </div>
  </nav>
  
</header>

<div class="row">

    <div class="a1 col-lg-6">
      <img class= "title-img" src="images/cover.jpg">
      
    
    
    </div>
  </div>
  </div>

  <div class="cards">
    <p class="card-text">Capital Cinemas Diu</p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <button type="button" onclick="location.href='/process'" name="mrng" value="10:30 AM" class="btn btn-sm btn-outline-secondary" >  10:30 AM  <span class="ai-magnet"></span> </button>
        <button type="button" onclick="location.href='/process'" name="aftr" value="2:30 PM"  class="btn btn-sm btn-outline-secondary" >  2:30 PM <span class="ai-magnet"></span> </button>
        <button type="button" onclick="location.href='/process'" name="evng" value="6:30 PM" class="btn btn-sm btn-outline-secondary" >  6:30 PM  <span class="ai-magnet"></span> </button>
        <button type="button" onclick="location.href='/process'" name="nyt" value="9:45 PM" class="btn btn-sm btn-outline-secondary" >  9:45 PM  <span class="ai-magnet"></span> </button>
        
      </div>
      
    </div>
  </div>
  <div class="cards">
    <p class="card-text">PVR Cinemas Diu</p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
      <button type="button" onclick="location.href='/process'" name="mrng" value="10:30 AM" class="btn btn-sm btn-outline-secondary" >  10:30 AM  <span class="ai-magnet"></span> </button>
        <button type="button" onclick="location.href='/process'" name="aftr" value="2:30 PM"  class="btn btn-sm btn-outline-secondary" >  2:30 PM <span class="ai-magnet"></span> </button>
        <button type="button" onclick="location.href='/process'" name="evng" value="6:30 PM" class="btn btn-sm btn-outline-secondary" >  6:30 PM  <span class="ai-magnet"></span> </button>
        <button type="button" onclick="location.href='/process'" name="nyt" value="9:45 PM" class="btn btn-sm btn-outline-secondary" >  9:45 PM  <span class="ai-magnet"></span> </button>

        
      </div>
      
    </div>
  </div>
  <div class="cards">
    <p class="card-text"> Aradhana Cinemas Diu</p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
      <button type="button" onclick="location.href='/process'" name="mrng" value="10:30 AM" class="btn btn-sm btn-outline-secondary" >  10:30 AM  <span class="ai-magnet"></span> </button>
        <button type="button" onclick="location.href='/process'" name="aftr" value="2:30 PM"  class="btn btn-sm btn-outline-secondary" >  2:30 PM <span class="ai-magnet"></span> </button>
        <button type="button" onclick="location.href='/process'" name="evng" value="6:30 PM" class="btn btn-sm btn-outline-secondary" >  6:30 PM  <span class="ai-magnet"></span> </button>
        <button type="button" onclick="location.href='/process'" name="nyt" value="9:45 PM" class="btn btn-sm btn-outline-secondary" >  9:45 PM  <span class="ai-magnet"></span> </button>

        
      </div>
      
    </div>
  </div>
  </section>

  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
      </a>
      <span class="text-muted">&copy; 2022 VINKS LTD</span>
    </div>

  </footer>
</div>
    
</body>
</html>